#jinja2: lstrip_blocks: True
# {{ ansible_managed }}

local-zone: "{{dns_domain}}." static

{% for vlan in vlans %}
local-zone: "{{vlan}}.{{dns_domain}}." static
{% endfor %}

# TODO: allow specifying a dns name
{% for node in network_nodes %}
 {# network_nodes is a dict -> iteration is only over keys, not items/objects #}
 {% if network_nodes[node].networks is defined %}
   {% for network in network_nodes[node].networks %}
     {# this loops only once, but is the easiest way to resolve network names (if1, ..) #}
     {% set iface = network_nodes[node].networks[network] %}
     {# if a dns attribute is used take this as hostname #}
     {# without trailing dot the dns_domain will still be appended (but not the vlan) #}
     {% if iface.dns is defined %}
       {% if iface.dns.endswith('.') %}
         {% set dns_name = iface.dns %}
       {% elif iface.vlan is defined %}
         {# NOTE: this requires a string as vlan name #}
         {% set dns_name = iface.dns + '.' + iface.vlan + '.' + dns_domain + '.' %}
         {% set domain_name = iface.vlan + '.' + dns_domain + '.' %}
       {% else %}
         {% set dns_name = iface.dns + '.' + dns_domain + '.' %}
       {% endif %}
     {# with a vlan the hostname is name.vlan.dns_domain #}
     {% elif iface.vlan is defined %}
       {% set dns_name = node + '.' + iface.vlan + '.' + dns_domain %}
       {% set domain_name = iface.vlan + '.' + dns_domain + '.' %}
     {# without it is name.dns_domain #}
     {% else %}
       {% set dns_name = node + '.' + dns_domain %}
     {% endif %}
     {% if iface.ipv4 is defined %}
local-data: "{{dns_name}} IN A {{iface.ipv4 | ipaddr('address')}}"
local-data-ptr: "{{iface.ipv4 | ipaddr('address')}} {{dns_name}}"
       {% if iface.label is defined %}
local-data: '{{dns_name}} TXT "{{iface.label}}"'
       {% endif %}
       {% if iface.dns_aliases is defined %}
         {% for alias in iface.dns_aliases %}
           {% if alias.endswith('.') %}
local-data: "{{alias}} IN A {{iface.ipv4 | ipaddr('address')}}"
           {% elif domain_name is defined %}
local-data: "{{alias}}.{{domain_name}}. IN A {{iface.ipv4 | ipaddr('address')}}"
           {% else %}
local-data: "{{alias}}.{{dns_domain}}. IN A {{iface.ipv4 | ipaddr('address')}}"
           {% endif %}
         {% endfor %}
       {% endif %}
     {% else %}
# skipping {{dns_name}}
     {% endif %}
   {% endfor %}
 {% endif %}
{% endfor %}