#jinja2: lstrip_blocks: True
# {{ ansible_managed }}

{% for zone in unbound_stub_zones %}
stub-zone:
  name: "{{ zone }}"
  {% for server in unbound_stub_zones[zone] %}
  stub-addr: {{ server }}
  {% endfor %}
{% endfor %}